<html>
<head>
    <style>
    </style>
</head>



<body style="        background: #659EC7 ">
    <h1>STUDENT INFORMATION  </h1>




</body>


</html>




<div class="jumbotron">


    <div class="box" style="color:black;font-size: 30px;">
        Name: Veranga,perlyrey
        <br> Age: 20 years old
    </div>
    <div class="box" style="color:black;font-size: 30px;">
        Birthdate: oct 26 1999
        <br> Email: veranga03@mgmail.com
    </div>
    <div class="box" style="color:black;font-size: 30px;"> Address: GMA, Cavite<br> </div>
    <div class="box" style="color:black;font-size: 30px;"> Contact No.: 09563621797<br> </div>



</div>
